body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
*{
  /*background-color: maroon;
  margin: 0px;
  padding: 0px;

}

*/



body, html, ul{
  padding: 0px;
  margin: 0px;
}




div{
  margin: 0px;
  padding: 0px;
}






main{
  display: block;
  background-color: lime;
}




li{
  display: inline-block;
  margin: 20px;
}


nav > ul >li{
  display: inline-block;
  padding: 10px;
  border-radius: 1em;
}



main > ul >li{
  display: block;
  padding: .5em;
  border: darkgrey 3px solid; 
  border-radius: 1em;
  font-weight: bold;
}














