/*General*/

body, html, ul, div{
  padding: 0px;
  margin: 0px;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}








/*Nav*/

nav>ul{
  display: flex;
  flex-direction: row;
  list-style: none;

}


nav > ul >li{
  padding: 10px;
  border: solid 1px;
}


/*Main*/



main{
  display: block;
  padding: 1em .5em;
  height: 100%;
}


main > ul{
  list-style: none;

}


main > ul >li{
  display: block;
  padding: .5em;
  border: 1px solid;
  border-radius: 1em;
  font-weight: bold;
  margin-bottom: 1em;

}













